---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<BaseLayout title="Projects">
  <header>
    <h1>Projects</h1>
  </header>
  <hr />

  <section>
    <ul class="projects">
      {projects.map((p) => (
        <li class="project">
          <a href={`/projects/${p.slug}`}>{p.data.title}</a>
          <div class="desc">{p.data.desc}</div>

          {p.data.tags?.length ? (
            <ul class="tags">
              {p.data.tags.map((t) => (
                <li class="tag">{t}</li>
              ))}
            </ul>
          ) : null}
        </li>
      ))}
    </ul>
  </section>
</BaseLayout>
